body {
	margin: 40px;
}

.container {
	display: grid;
	grid-template-areas: "header empty link1 link2"
			     "content content content content";
	grid-template-rows: 2fr 8fr;
	grid-template-columns: 5fr 3fr 1fr 1fr;
}
